#map {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-color:#8C8984;
}

#title {
  padding:20px;
  position:absolute;
  bottom:0;
  left:0;
  background-color:rgba(0,0,0,0.75);
  color:#fea;
  font-family: 'Karla', sans-serif;
  text-align:center;
}

.wax-tooltip {
  width:300px;
  padding:20px;
  z-index:999999;
  position:absolute;
  top:0;
  left:0;
  background-color:#333;
  color:#fff;
  color:#fea;
  -webkit-user-select:auto;
  opacity:1;
  -webkit-transition:opacity 150ms;
  -moz-transition:opacity 150ms;
  font-family: 'Karla', sans-serif;
}

.wax-fade {
  opacity:0;
}

.leaflet-popup-content {
	font: 12px/1.4 "Asap", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.about {
  max-width:20%;
  padding:20px;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  color:#fea;
  background-color:rgba(0,0,0,0.75);
  font-family: 'Karla', sans-serif;
  font-size:16px;
}

.about h1 {
  margin-bottom:20px;
  font-size:24px;
  font-weight:normal;
  line-height:normal;
}

ul.layers li a {
  color:#fea;
  line-height:normal;
  text-decoration:none;
}

ul.layers li a.active {
  color:#74b6e6;
}
